.Header-container{
  display: flex;
  justify-content: space-between;
  border : 1px solid black;
  
}

.log-img{
    width: 100px
}

.nav-items{
    display: flex;
    list-style-type: none;
    padding: 20px;

}

li{
    margin-right: 25px;
}
    
.body-container{
    border: 1px solid black;
    padding: 10px;
    padding-left : 30px;
}

.res-card-container{
    background-color: #f8f9fa;
    border : 1px solid black;
    width: 250px;
    margin : 7px;
    border-radius: 6px;
    padding: 4px;
}

.res-card-image{
    height: 200px;
    width : 200px;
}

.search-container{
    margin :25px;
    margin-bottom: 10px;
}

.restaurants-container{
    display: flex;
    flex-wrap: wrap;
}

.cuisines{
    overflow:hidden;
}